{% extends "base_generic.html" %} {% load static %} {% block content %}

<div class="row mb-4">
    <a class="btn btn-primary" href="{% url 'room' handover.room.id %}">Room</a>
</div>

<div class="">
    <div class="">
        {{ handover.room.name }}
    </div>
    <div class="">
        {{ handover.date }}
    </div>
    <div class="">
        {{ handover.person }}
    </div>
    <div class="">
        {{ handover.description }}
    </div>
    {% for image in images %}
    <div class="">
        <div class="">
            {{ image.img }}
        </div>
        <div class="">
            {{ image.description }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}