{% extends "base_generic.html" %} {% block content %}
<div class="row">
    <div class="col">
        <div class="row">
            {{ room.name }}
        </div>
        <div class="row">
            {{ room.description }}
        </div>
        <div class="row">
            {{ room.person }}
        </div>
    </div>
    <div class="col">
        <div class="">
            {{ room.img }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="nav-link" href="{% url 'handover' room.id %}">New Hand Over</a>
    </div>
</div>
{% for handover in handovers %}
<div class="row">
    <div class="col">
        <a class="nav-link" href="{% url 'handover' room.id handover.id %}">
        {{ handover.id }}
    </a>
    </div>
    <div class="col">
        {{ handover.date }}
    </div>
    <div class="col">
        {{ handover.person }}
    </div>
    <div class="col">
        {{ handover.description }}
    </div>
</div>
{% endfor %} {% endblock %}