{% extends "base_generic.html" %} {% load static %} {% block content %}
<div class="row mb-4">
    <div class="col-md-5">
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}

            <div class="row mb-3">
                <label for="name" class="form-label">Name</label>
                <input id="name" type="text" class="form-control" name="name" value="{{ room.name }}">
            </div>
            <div class="row mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" rows="3" class="form-control" name="description">{{ room.description }}</textarea>
            </div>
            <div class="row mb-3">
                <label for="person" class="form-label">Person </label>
                <input id="person" type="text" class="form-control" name="person" value="{{ room.person }}">
            </div>
            <div class="row mb-3">
                {% if room.img %}
                <img src="{{ room.img.url }}" class="img-fluid" /> {% endif %}
            </div>
            <div class="row mb-3">
                <label for="img" class="form-label">Update Picture</label>
                <input type="file" class="form-control-file" id="img" name="img" accept="image/*">
            </div>

            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div>

{% if not handovers %}
<div class="row mb-4">
    <p>No Hand Overs</p>
</div>
{% endif %} {% for handover in handovers %}
<div class="row mb-4">
    <div class="col">
        <a class="nav-link" href="{% url 'handover' room.id handover.id %}">
        {{ handover.id }}
    </a>
    </div>
    <div class="col">
        {{ handover.date }}
    </div>
    <div class="col">
        {{ handover.person }}
    </div>
    <div class="col">
        {{ handover.description }}
    </div>
</div>
{% endfor %}
<div class="row mb-4">
    <a class="btn btn-primary" href="{% url 'handover' room.id %}">New Hand Over</a>
</div>

{% endblock %}